<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><%=link_to "Home", root_path%></li>
  <li role="presentation"><%=link_to "Products", products_path%></li>
  <li role="presentation"><%=link_to "New Product", new_product_path%></li>
</ul>

<div class="container">
	<%= yield %>
</div>

</body>
</html>
